<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #display{
            display:flex;
            justify-content: center;
            margin: 50px 50px;
            gap:80px;
        }
        .input{
            width:130px;
            margin:10px 0;
        }
    </style>
    <title>Problem-1</title>
</head>
<body>
    <form method="post" id='display'>
        {% csrf_token %}
        <div>
            <div>
                Commands<br>
                <select class='input' name="command">
                    <option disabled selected value>Select Command</option>
                    <option value='pwd'>pwd</option>
                    <option value='ls'>ls</option>
                    <option value='whoami'>whoami</option>
                </select>
            </div>
            <input type="submit" name='mainform' value="Execute">
            <input type="submit" name='celeryform' value="Execute with celery">
        </div>
        <div>
            Repitition<br>
            <input class='input' type="number" name="rep">
        </div>
        <div>
            Sleep Duration<br>
            <input class='input' type="number" name="dur">
        </div>
        <div>
            Output<br>
            <textarea class='input' style='height:300px;width:250px'>{{output}}</textarea>
        </div>  
    </form>
</body>
</html>